.u-section-1 {
  background-image: linear-gradient(#b18174, #e68387);
}

.u-section-1 .u-sheet-1 {
  min-height: 1050px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 50px 845px 0 50px;
}

.u-section-1 .u-image-1 {
  width: 323px;
  height: 506px;
  margin: 76px 28px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -506px 358px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 83px 351px 60px 6px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 695px;
    margin-left: 41px;
  }

  .u-section-1 .u-image-1 {
    width: 390px;
    height: 863px;
    margin-top: 68px;
    margin-right: auto;
    margin-left: 129px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -34px;
    margin-right: 158px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 475px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 295px;
    margin-left: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 95px;
    margin-left: 14px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    width: 323px;
    height: 610px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -31px;
  }
}.u-section-2 {
  background-image: linear-gradient(#e68387, #b18174);
}

.u-section-2 .u-sheet-1 {
  min-height: 887px;
}

.u-section-2 .u-image-1 {
  width: 442px;
  height: 332px;
  margin: 30px auto 0 64px;
}

.u-section-2 .u-image-2 {
  width: 440px;
  height: 332px;
  margin: -332px 64px 0 auto;
}

.u-section-2 .u-text-1 {
  width: 468px;
  margin: 30px auto 0;
}

.u-section-2 .u-image-3 {
  width: 601px;
  height: 355px;
  margin: 30px 256px 0 auto;
}

.u-section-2 .u-text-2 {
  width: 468px;
  margin: 30px auto;
}

@media (max-width: 991px) {
  .u-section-2 .u-image-3 {
    margin-right: 119px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-2 .u-image-3 {
    width: 540px;
    height: 319px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 255px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 257px;
    margin-top: -255px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 201px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}